/frontendMentor.code-workspace
qr-code-component-main/design/desktop-design.jpg
qr-code-component-main/style-guide.md
qr-code-component-main/design/desktop-preview.jpg
qr-code-component-main/design/mobile-design.jpg
qr-code-component-main/images/favicon-32x32.png
qr-code-component-main/images/image-qr-code.png
qr-code-component-main/README.md
qr-code-component-main/README-template.md
qr-code-component-main.zip
product-preview-card-component-main.zip
