/*# Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Dark cyan: hsl(158, 36%, 37%)
- Cream: hsl(30, 38%, 92%)

### Neutral

- Very dark blue: hsl(212, 21%, 14%)
- Dark grayish blue: hsl(228, 12%, 48%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 14px

### Font

- Family: [Montserrat](https://fonts.google.com/specimen/Montserrat)
- Weights: 500, 700

- Family: [Fraunces](https://fonts.google.com/specimen/Fraunces)
- Weights: 700
*/
* {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
  color: var(--dark-grayish-blue);
}
:root {
  --dark-cyan: hsl(158, 36%, 37%);
  --dark-cyan-active: hsl(159, 31%, 21%);
  --cream: hsl(30, 38%, 92%);
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}
body {
  background-color: var(--dark-grayish-blue);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main {
  background-color: var(--cream);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main--card {
  border-radius: 10px;
  overflow: hidden;
  margin: 1rem;
  background-color: var(--white);
  display: grid;
}
.main--content {
  grid-area: main-content;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  margin-bottom: 2rem;
  margin-top: 1.5rem;
  font-size: 0.8rem;
  line-height: 1.5rem;
  display: flex;
  flex-flow: column;
  justify-content: left;
  gap: 1rem;
}
.main--category {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}
button {
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
  color: var(--white);
  background-color: var(--dark-cyan);
  width: 100%;
  height: 50px;
  border-radius: 10px;
  border: 0px;
}
button:hover {
  background-color: var(--dark-cyan-active);
  cursor: pointer;
}
button img {
  padding-right: 1rem;
}
.main--price {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: left;
  gap: 2rem;
  margin-top: 2rem;
  padding-bottom: 1.2rem;
}
.main--price__current {
  font-size: 2.5rem;
  font-weight: 700;
  font-family: "Fraunces", serif;
  color: var(--dark-cyan);
}
.main--price__previous {
  text-decoration: line-through;
}

h2 {
  font-family: "Fraunces", serif;
  font-size: 2rem;
  line-height: 2rem;
  color: var(--very-dark-blue);
}

/*Mobile*/
@media (min-width: 375px) {
  .main {
    width: 375px;
  }
  .main--card {
    grid-template-rows: 2fr 3fr;
    grid-template-columns: 100%;
    grid-template-areas:
      "main-image"
      "main-content";
  }
  .main--image {
    grid-area: main-image;
    background-image: url(../images/image-product-mobile.jpg);
    background-position: center;
    background-size: cover;
  }
}
/*Desktop*/
@media (min-width: 1440px) {
  .main {
    width: 1440px;
    height: 100vh;
  }
  .main--card {
    width: 600px;

    grid-template-columns: 3fr 3fr;
    grid-template-rows: 100%;
    grid-template-areas: "main-image main-content";
  }
  .main--image {
    grid-area: main-image;
    background-image: url(../images/image-product-desktop.jpg);
    background-position: center;
    background-size: cover;
  }
}
